.App {
  margin: 0;
  padding: 30px;
  background-image: url(https://i.imgur.com/6r8Oi1q.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  min-height: 100vh;
}

body, html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
display: none;
}

.hometitle {
  margin-top: 200px;
  font-size: 60px;
  font-family: 'Montserrat Black', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 0;
}